h1, h2, p {
  text-align: center;
}

body {
  background-image: url("tonysoprano2.jpg");
  background-color: rgb(35, 212, 212);
  padding: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.standardtext {
  width: 1300px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 10px;
}

a:hover {
  color:rgb(35, 212, 212)
}